* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "YourFont", sans-serif;
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  padding: 20px;
}

/* Container class for consistent padding and responsive layout */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Responsive grid system */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.column {
  padding: 10px;
  flex: 1;
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .column {
    flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .column {
    flex-basis: 100%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0 10px;
  }
}

/* Utility classes for padding and margins */
.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}

/* Responsive images */
img {
  max-width: 100%;
  height: auto;
}

/* Buttons */
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  /*  background-color: #007bff; */
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
